<flynt-component
  load:on="idle"
  name="GridLogos"
  class="pb-md lg:pb-xl"
  style="
    background-color: {% if options.colorBackground %}{{ options.colorBackground }}{% else %}transparent{% endif %};>
    color: {% if options.colorText %}{{ options.colorText }}{% else %}var(--black){% endif %};">
  <div class="wrapper boxed">
    {% if blockTitle %}
      <h3 class="mb-lg">{{ blockTitle }}</h3>
    {% endif %}
    <div 
      class="
        w-full max-w-screen-max 
        mx-auto 
        grid"
        {{ options.gridColumns ? 'data-grid-columns="' ~ options.gridColumns ~ '"' }}>
      {% for item in logos %}
        <div class="item w-full flex justify-center lg:justify-start">
          {% if item.logo %}
            <a class="" href="{{ item.logoLink }}" target="_blank" rel="noreferrer noopener">
              <figure class="figure flex w-full h-full">
                <img class="figure-image lazyload w-full max-w-[200px] h-full object-contain"
                  src="{{ item.logo.src | resize(32) }}"
                  data-srcset="{{function('wp_get_attachment_image_srcset', item.logo.id)}}"
                  data-sizes="auto">
              </figure>
            </a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</flynt-component>
