{% if posts|length > 0 %}
  <flynt-component 
    load:on="visible" 
    name="ListingNews" 
    class=""
    style="
      color: {% if options.colorText %}{{ options.colorText }}{% else %}var(--black){% endif %};
      background-color: {% if options.pageBackground %}{{ options.pageBackground }}{% else %}transparent{% endif %};">
    
    <div class="boxed boxed--small flex flex-col gap-sm" x-data="{ selectedCategories: [] }">
      <div class="flex flex-col md:flex-row justify-between gap-xs">
        
        {% if preContentHtml %}
          <div class="font-titleSmall !mb-0">
            {{ preContentHtml|e('wp_kses_post') }}
          </div>
        {% endif %}

        <!-- Category Filters -->
        <div class="flex flex-row flex-wrap justify-start md:justify-end gap-x-xs gap-y-[5px] md:gap-sm">
          <!-- 'Alle' Category (Reset) -->
          <div 
            class="cursor-pointer uppercase"
            :class="selectedCategories.length === 0 ? 'text-primary underline underline-offset-[5px]' : ''"
            @click="selectedCategories = []">
            Alle
          </div>

          <!-- Dynamic Categories -->
          {% for category in categories %}
            <div 
              class="cursor-pointer uppercase"
              :class="selectedCategories.includes('{{ category.slug }}') 
                ? 'text-primary underline underline-offset-[5px]' 
                : ''"
              @click="
                selectedCategories.includes('{{ category.slug }}') 
                  ? selectedCategories = selectedCategories.filter(c => c !== '{{ category.slug }}') 
                  : selectedCategories.push('{{ category.slug }}')
              ">
              {{ category.name }}
            </div>
          {% endfor %}
        </div>
      </div>

      <!-- Posts Grid -->
      <div class="grid grid-cols-1 md:grid-cols-3 gap-x-sm gap-y-lg">
        {% for post in posts %}
          {% set categorySlugs = post.terms('news-category')|map(c => c.slug)|join(' ') %}
          {% set categorySlugsArray = post.terms('news-category')|map(c => c.slug)|join("','") %}

          <a 
            class="w-full [&_img]:hover:invert {{ categorySlugs }}"
            href="{{ post.link }}" 
            x-show="selectedCategories.length === 0 || selectedCategories.some(cat => ['{{ categorySlugsArray }}'].includes(cat))"
            x-transition
          >

          {# <a 
            class="w-full md:w-1/3 [&_img]:hover:invert" 
            href="{{ post.link }}" 
            {% for term in post.terms('news-category') %}
              
              x-show="selectedCategories.length === 0 || selectedCategories.includes('{{ term|lower|replace({' ' : '-'}) }}')">
            {% endfor %} #}
            
            
            <div class="post w-full h-full flex flex-col gap-xs justify-between items-center">
              {% if post.thumbnail %}
                <img 
                  class="lazyload transition duration-200 ease-in-out h-[250px] md:h-[350px] object-cover" 
                  src="{{ post.thumbnail.src }}"
                  data-srcset="{{ function('wp_get_attachment_image_srcset', post.thumbnail.id) }}"
                  data-sizes="auto"
                  alt="{{ post.title }}">
              {% endif %}
              
              <div class="content w-full h-full flex flex-col md:flex-row justify-start">
                {% if post.date %}
                  <div class="w-full md:w-1/4">{{ post.date|date("d.m.y")|escape('wp_kses_post') }}</div>
                {% endif %}
                <div class="w-full md:w-3/4 font-h3 !mb-0">{{ post.title }}</div>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>

  </flynt-component>
{% endif %}