<flynt-component 
  load:on="visible" 
  name="BlockBoxes3" 
  class="" 
  style="background-color: {% if options.colorBackground %}{{ options.colorBackground }}{% else %}transparent{% endif %}; ">
  <div class="wrapper" style="color: {% if options.colorText %}{{ options.colorText }}{% else %}var(--black){% endif %};">
     {% if blockTitle %}
      <div class="max-w-screen-lg mx-auto font-heroSubtitle text-center mb-md sm:mb-lg">
        {{ blockTitle }}
      </div>
    {% endif %}
    <div class="wrapper flex flex-col lg:flex-row align-top justify-between">
      <a class="content-left lg:w-1/3 flex flex-col p-sm border-y-0.5 lg:border-y border-x-0.5 hover:bg-black hover:text-white [&_h3]:hover:text-white" href="{{ buttonLinkLeft.url }}" {% if buttonLinkLeft.target %} target="{{ buttonLinkLeft.target }}" rel="noreferrer noopener"{% endif %}>
        {% if titleLeft %}
          <div class="uppercase mb-[5px]">{{ titleLeft }}</div>
        {% endif %}
        {% if buttonLinkLeft %}
          <button class="button button--link">
            <h3 class="!mb-0 lowercase">{{ buttonLinkLeft.title }}</h3>
          </button>
        {% endif %}
      </a>
      <a class="content-left lg:w-1/3 flex flex-col p-sm border-y-0.5 lg:border-y border-x-0.5 hover:bg-black hover:text-white [&_h3]:hover:text-white" href="{{ buttonLinkCenter.url }}" {% if buttonLinkCenter.target %} target="{{ buttonLinkCenter.target }}" rel="noreferrer noopener"{% endif %}>
        {% if titleCenter %}
          <div class="uppercase mb-[5px]">{{ titleCenter }}</div>
        {% endif %}
        {% if buttonLinkCenter %}
          <button class="button button--link" >
            <h3 class="!mb-0 lowercase">{{ buttonLinkCenter.title }}</h3>
          </button>
        {% endif %}
      </a>
      <a class="content-right lg:w-1/3 flex flex-col p-sm border-y-0.5 lg:border-y border-x-0.5 hover:bg-black hover:text-white [&_h3]:hover:text-white" href="{{ buttonLinkRight.url }}" {% if buttonLinkRight.target %} target="{{ buttonLinkRight.target }}" rel="noreferrer noopener"{% endif %}>
        {% if titleRight %}
          <div class="uppercase mb-[5px]">{{ titleRight }}</div>
        {% endif %}
        {% if buttonLinkRight %}
          <button class="button button--link">
            <h3 class="!mb-0 lowercase">{{ buttonLinkRight.title }}</h3>
          </button>
        {% endif %}
      </a>
    </div>
  </div>
</flynt-component>
