<flynt-component 
  load:on="visible" 
  name="BlockBoxes3" 
  class="" 
  style="background-color: {% if options.colorBackground %}{{ options.colorBackground }}{% else %}transparent{% endif %}; ">
  <div class="wrapper" style="color: {% if options.colorText %}{{ options.colorText }}{% else %}var(--black){% endif %};">
     {% if blockTitle %}
      <div class="max-w-screen-lg mx-auto font-heroSubtitle text-center mb-md sm:mb-lg">
        {{ blockTitle }}
      </div>
    {% endif %}
    <div class="wrapper flex flex-col lg:flex-row align-top justify-between">
      <div class="content-left lg:w-1/3 flex flex-col lg:flex-row p-sm border-y-0.5 lg:border-y border-x-0.5">
        <div class="lg:w-4/5">
          {% if contentHtmlLeft %}
            {{ contentHtmlLeft|e('wp_kses_post') }}
          {% endif %}
        </div>
        {% if buttonLinkLeft %}
          <div class="w-full lg:w-1/5 mt-sm flex items-end justify-end">
            <a 
              class="button button--link" 
              href="{{ buttonLinkLeft.url }}" 
              {% if buttonLinkLeft.target %} target="{{ buttonLinkLeft.target }}" rel="noreferrer noopener"{% endif %}>
              {{ buttonLinkLeft.title }}
            </a>
          </div>
        {% endif %}
      </div>
      <div class="content-left lg:w-1/3 flex flex-col lg:flex-row p-sm border-y-0.5 lg:border-y border-x-0.5">
        <div class="lg:w-4/5">
          {% if contentHtmlCenter %}
            {{ contentHtmlCenter|e('wp_kses_post') }}
          {% endif %}
        </div>
        {% if buttonLinkCenter %}
          <div class="w-full lg:w-1/5 mt-sm flex items-end justify-end">
            <a 
              class="button button--link" 
              href="{{ buttonLinkCenter.url }}" 
              {% if buttonLinkCenter.target %} target="{{ buttonLinkCenter.target }}" rel="noreferrer noopener"{% endif %}>
              {{ buttonLinkCenter.title }}
            </a>
          </div>
        {% endif %}
      </div>
      <div class="content-right lg:w-1/3 flex flex-col lg:flex-row p-sm border-y-0.5 lg:border-y border-x-0.5">
        <div class="lg:w-4/5">
          {% if contentHtmlRight %}
            {{ contentHtmlRight|e('wp_kses_post') }}
          {% endif %}
        </div>
        {% if buttonLinkRight %}
          <div class="w-full lg:w-1/5 mt-sm flex items-end justify-end">
            <a 
              class="button button--link" 
              href="{{ buttonLinkRight.url }}" 
              {% if buttonLinkRight.target %} target="{{ buttonLinkRight.target }}" rel="noreferrer noopener"{% endif %}>
              {{ buttonLinkRight.title }}
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</flynt-component>
