<flynt-component
  load:on="visible"
  name="HeroMultimediaComplex" 
  class="mb-0" 
  style="
    color: {% if options.colorText %}{{ options.colorText }}{% else %}var(--black){% endif %};">
  <div class="imageContainerBlob">
    <div class="absolute top-0 left-0 w-full h-full p-xs md:p-0 flex justify-center items-center z-20">
      <div class="block md:hidden">{% include 'Partials/_titleDesktop.twig' %}</div>
      <div class="hidden md:block parallaxed">{% include 'Partials/_titleDesktop.twig' %}</div>
    </div>
    {% if image or imageMobile %}
    <figure class="figureImage hidden h-screen w-screen me-0 bg-blue overflow-hidden">
      <img class="figureImageImage hidden sm:block figure-image lazyload h-full w-full object-cover object-top"
        src="{{ image.src | resize(32) }}"
        data-srcset="{{ function('wp_get_attachment_image_srcset', image.id) }}"
        data-sizes="auto"
        alt="{{ image.alt|e }}">
      <img class="block sm:hidden figure-image lazyload h-full w-full object-cover"
        src="{{ imageMobile.src | resize(32) }}"
        data-srcset="{{ function('wp_get_attachment_image_srcset', imageMobile.id) }}"
        data-sizes="auto"
        alt="{{ imageMobile.alt|e }}">
    </figure>
    <figure class="figureImage hidden h-screen w-screen me-0 bg-orange overflow-hidden">
      <img class="figureImageImage hidden sm:block figure-image lazyload h-full w-full object-cover object-top"
        src="{{ image2.src | resize(32) }}"
        data-srcset="{{ function('wp_get_attachment_image_srcset', image2.id) }}"
        data-sizes="auto"
        alt="{{ image2.alt|e }}">
      <img class="block sm:hidden figure-image lazyload h-full w-full object-cover"
        src="{{ imageMobile2.src | resize(32) }}"
        data-srcset="{{ function('wp_get_attachment_image_srcset', imageMobile2.id) }}"
        data-sizes="auto"
        alt="{{ imageMobile2.alt|e }}">
    </figure>
    <figure class="figureImage hidden h-screen w-screen me-0 bg-green overflow-hidden">
      <img class="figureImageImage hidden sm:block figure-image lazyload h-full w-full object-cover object-[50%_25%]"
        src="{{ image3.src | resize(32) }}"
        data-srcset="{{ function('wp_get_attachment_image_srcset', image3.id) }}"
        data-sizes="auto"
        alt="{{ image3.alt|e }}">
      <img class="block sm:hidden figure-image lazyload h-full w-full object-cover"
        src="{{ imageMobile3.src | resize(32) }}"
        data-srcset="{{ function('wp_get_attachment_image_srcset', imageMobile3.id) }}"
        data-sizes="auto"
        alt="{{ imageMobile3.alt|e }}">
    </figure>
    {% endif %}
  </div>
</flynt-component>
