{% if posts|length > 0 %}
  <flynt-component 
    load:on="visible" 
    name="ListingOngoingRoundtables" 
    class=""
    style="
      color: {% if options.colorText %}{{ options.colorText }}{% else %}var(--black){% endif %};
      background-color: {% if options.pageBackground %}{{ options.pageBackground }}{% else %}transparent{% endif %};">
    {% if imageDivider %}
      <div class="w-full h-[50vh]">
        <img class="lazyload h-full object-cover"
          src="{{ imageDivider.src | resize(32) }}"
          data-srcset="{{function('wp_get_attachment_image_srcset', imageDivider.id)}}"
          data-sizes="auto"
          alt="{{ imageDivider.alt|e }}">
      </div>
    {% endif %}
    <div class="boxed">
      {% if labels.blockTitle %}
        <div class="font-titleSmall !mb-xxxs">
          {{ labels.blockTitle }}
        </div>
      {% endif %}
      <div class="flex flex-col">
        {% set hasPastPosts = false %}

        {% for post in posts %}
          {% if post.ongoing == 1 %}
            {% set hasPastPosts = true %}
            <a class="post w-full h-full py-xs flex flex-col gap-xs border-t [&:last-child]:border-b hover:bg-black hover:text-white hover:px-xs transition-all ease-in-out duration-100" href="{{ post.link }}" aria-label="{{ post.title }}">
              <div class="justify-between grid grid-cols-1 md:grid-cols-2 gap-sm">
                <div class="flex flex-col gap-xs justify-between">
                  <div>
                    <div class="w-full">
                      {% if post.start_date %}<span>{{ post.start_date|date("d.m.y")|escape('wp_kses_post') }} - </span>{% endif %}
                      {% if post.end_date %}<span>{{ post.end_date|date("d.m.y")|escape('wp_kses_post') }}</span>{% endif %}
                    </div>
                    <div class="post w-full h-full font-h3 !mb-0">
                      {{ post.title }}
                    </div>
                  </div>
                  <div class="grid grid-cols-1 md:grid-cols-2 gap-sm">
                    {% if post.mainText %}
                      <button class="button button--link">{{ labels.readMore }}</button>
                    {% endif %}
                  </div>
                </div>
                <div class="font-body">{{ post.intro|striptags }}</div>
              </div>
            </a>
          {% endif %}
        {% endfor %}

        {% if not hasPastPosts %}
          <div class="post w-full h-full py-xs flex flex-col gap-xs border-t [&:last-child]:border-b">
            <div class="post w-full h-full font-h3 !mb-0">
              {{ labels.comingSoon }}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </flynt-component>
{% endif %}
