{% extends 'templates/_document.twig' %}

{% block content %}
  <article 
    class="post" 
    style="background-color: {% if post.pageBackground %}{{ post.pageBackground }}{% else %}transparent{% endif %}; ">
    <main class="post-main w-full max-w-screen-max mx-auto">
      <div class="boxed boxed--small flex flex-col md:flex-row justify-between">
        <div class="md:pr-sm w-full md:w-1/5 uppercase">
          {{ post.date|date("d.m.y")|escape('wp_kses_post') }}
        </div>
        <div class="w-full md:w-3/5">
          <h1 class="mb-md">{{ post.title }}</h1>
          <div class="w-full wysiwyg">
            {% if post.mainText %}
              {{ post.mainText|e('wp_kses_post') }}
            {% endif %}
          </div>
        </div>
        {% if post.thumbnail.src %}
        <div class="featuredImage md:pl-sm w-full md:w-1/5 ">
          <img 
            class="lazyload object-cover"
            src="{{ post.thumbnail.src }}"
            data-srcset="{{function('wp_get_attachment_image_srcset', post.thumbnail.src)}}"
            data-sizes="auto">
        </div>
      {% endif %}
      </div>
    </main>
    {# <section class="post-main flex flex-col mb-lg">
      <div class="post-main flex flex-col-reverse sm:flex-row gap-md">
      </div>
      {% for component in post.meta('newsComponents') %}
        {{ renderComponent(component) }}
      {% endfor %}
    </section> #}
  </article>
{% endblock %}
