<ul class="menu w-full grid grid-cols-2 lg:grid-cols-4 gap-xs">
  {% for item in items %}
    <li class="{{ item.classes | join(' ') }} text-[1.25rem] text-black flex justify-start {{- item.current ? ' current-menu-item underline underline-offset-[5px]' }}">
      <a class="link !mb-0 flex items-center hover:underline hover:underline-offset-[5px] transition-transform duration-200 ease-in-out" href="{{ item.link }}" {{ item.target == '_blank' ? 'target="_blank" rel="noopener noreferrer"' }}>
        {{ item.title }}
      </a>
    </li>
  {% endfor %}
</ul>
